* {
    margin: 0;
    padding: 0;
    
  }
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(211, 250, 250);  
    background-size: cover;
    background-repeat: no-repeat;
  }
  #svgContainer {
    width: 100vw;
    height: 100vh;
    object-fit:contain;
  }
  .container{
    background-image:url('newbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .secondcontainer{
    background-image:url('');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .secondcontainer{
    background-image:url('');
    background-size: cover;
  }
.fa-volume-up
  { 
    font-size: 50px;
    background-color:rgb(72, 11, 122);  
    color:beige; 
    margin-left: 85%;  
    position: fixed; 
   }
.fa-house
  {
    font-size: 50px;
    background-color:rgb(72, 11, 122); 
    margin-left: 89%; 
    color:beige;
    position: fixed;
   }
.fa-expand
   {   
    font-size: 50px;
    color:beige;
    background-color:rgb(72, 11, 122); 
    margin-left: 93%; 
    position: fixed;
   }










