
body{
  height: 100vh; 
  width: 100vw;
  background-color: black;
  overflow: hidden;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
#svg{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#bgimg{
  filter: brightness(0.7);
}

h1 {
 position: absolute;
 top: 78%;
 left: 5%;
 font-size: 35px;
 font-weight: bold;
 color: white;
}

#mainloading {
  height: 100%;
  width: 100%;
  background-color: #000000d6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress-bar {
  position: relative;
  top: 35%;
  height: 25px;
  width: 1800px;
  background: white;
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: 0 0 32px blue;
}

#progress-fill {
  position: absolute;
  height: 20px;
  width: 0%;
  animation: progress-forward 3s infinite;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 63, 253, 1) 100%
  );
  border-radius: 15px;
}

#Cimg{
  height: 280px;
  width: 280px;
  position: absolute;
}

@keyframes progress-forward {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
} ;

#Pothome{
  height: 500px;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 30%;
}
#Pimg{
  height: 300px;
  width: 300px;
  /* background-color: white; */
  position: absolute;
  top: 18%;
  left: 63%;
  /* transform: translate(-50px, -50px); */
  /* opacity: 0.8; */
}

#Simg{
  width: 50px;
  height: 50px;
}
#mainCrow{
  height: 350px;
  width: 350px;
  position: absolute;
  top: 9%;
  left: -26%;
  transform: scaleX(-1);
}


#CRimg {
 height: 100%;
 width: 100%;
 object-fit: contain;

}



#StoneImg{
  height: 350px;
  width: 350px;
  position: absolute;
  top: 42%;
  left: 35%;
}

#StoneImg1, #StoneImg2, #StoneImg3{
  height: 220px;
  width: 220px;
  position: absolute;
  top: 40%;
  left: 72%;
}

#StoneCrow{
  height: 300px;
  width: 300px;
  position: absolute;
  top: 30%;
  left: 15%;
  -webkit-transform: scaleX(-1);
}

#StoneCrow1{
  height: 200px;
  width: 200px;
  position: absolute;
  top: -5%;
  left: 61%;
  -webkit-transform: scaleX(-1);
}

#StoneCrow2{
  height: 200px;
  width: 200px;
  position: absolute;
  top: -5%;
  left: 61%;
  -webkit-transform: scaleX(-1);
}

.hide{
  display: none;
}

#WaterImg, #WaterImg1, #WaterImg2, #WaterImg3{
  height: 260px;
  width: 291px;
  position: absolute;
  top: 17%;
  left: 66%;
  border-radius: 50px;
  
}

#WaterImg4{
  height: 300px;
  width: 300px;
  position: absolute;
  top: 18%;
  left: 70%;
  transform: translate(-50px, -50px);
}

#S_1{
  position: absolute;
  height: 30px;
  width: 30px;
 top: 45%;
 left: 28%;
}

#S_2{
  position: absolute;
  height: 30px;
  width: 30px;
  left: 40%;
  top: 55%;
}
#S_3{
  position: absolute;
  height: 30px;
  width: 30px;
}
#S_4{
  position: absolute;
  height: 30px;
  width: 30px;
}
#S_5{
  position: absolute;
  height: 30px;
  width: 30px;
}
#S_6{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 55%;
  left: 52%;
}

/* .childs{
  width: 30px;
  height: 30px;
  position:absolute;
  top: 60%;
  left: 40%;
} */

#icrease{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 46%;
  left: 51%;
}

.parent_child{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 39%;
  left: 38%;
}
.parent_child img{

position: absolute;
width: 30px;
height: 30px;
}




#main_div{
  position: relative;
}

#show{
  height: 300px;
  width: 300px;
    position: absolute;
    top: 18%;
    left: 63%;
  display: none;
}

#show1{
  height: 300px;
  width: 300px;
    position: absolute;
    top: 18%;
    left: 63%;
  display: none;
}

#show2{
  height: 300px;
  width: 300px;
    position: absolute;
    top: 18%;
    left: 63%;
  display: none;
}


#show3{
  height: 300px;
  width: 300px;
    position: absolute;
    top: 18%;
    left: 63%;
  display: none;
}

#show4{
  height: 300px;
  width: 300px;
    position: absolute;
    top: 18%;
    left: 63%;
    display: none;
}

#show5{
  height: 300px;
  width: 300px;
  /* background-color: white; */
  position: absolute;
  top: 18%;
  left: 63%;
  display: none;
}


#stone_set{
  width: 250px;
    height: 300px;
    position: absolute;
    top: 43%;
    left: 35%;
}

#stone{
  width: 30px;
  position: absolute;
  height: 30px;
  bottom: 36%;
  right: 22%;
  z-index: 9;
}

#img{
  width: 30px;
  position: absolute;
  height: 30px;
  bottom: 36%;
  right: 22%;
  z-index: 9;
}

#default{
  width: 295px;
  height: 263px;
  position: absolute;
  top: 24%;
  left: 63%;
  display:block ;
}

.block {
  display: none;
}

.show-block {
  display: block;
}

#img img{
 width: 30px;
}

#stone1{
  width: 30px;
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 9;
}

#ImgShow{

  width: 150px;
  height: 40px;
  top: 10%;
  left: 10%;
 position: relative;
 opacity: 0.6;
}

